<table class="table table-hover table-condensed table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>TITLE</th>
        <th>CONTENT</th>
        <th>CREATED AT</th>
        <th>UPDATED AT</th>
        <th>DETAILS</th>
        <th>UPDATE</th>
        <th>DELETE</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sitepage: ${sitepages}">
        <td><a th:href="@{/site-pages/}+${sitepage?.id}" th:text="${sitepage?.id}"></a></td>
        <td><a th:href="@{/site-pages/}+${sitepage?.id}" th:text="${sitepage?.title}"></a></td>
        <td th:text="${sitepage?.summary}"></td>
        <td th:text="${sitepage?.getCreatedAtReadable()}"></td>
        <td th:text="${sitepage?.getUpdatedAtReadable()}"></td>
        <td>
            <a class="btn btn-primary"
               th:href="@{/site-pages/}+${sitepage?.id}">Details</a>
        </td>
        <td>
            <a class="btn btn-warning"
               th:href="@{/site-pages/}+${sitepage?.id}+@{/update}">Update</a>
        </td>
        <td>
            <form method="post" th:action="@{/site-pages/}+${sitepage?.id}+@{/delete}"
                  onclick="return confirm('Are you sure?')">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
