<html layout:decorate="dashboard" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="main_content">
    <div th:if="${message!=null}" class="alert alert-info" role="alert">
        <span th:text="${message}"></span>
    </div>
    <div class="card">
        <div class="header">
            <h2>
                Content Details <small>Description text here...</small>
            </h2>
            <div class="pull-right">
                <a th:href="@{/admin/prepared-contents/}+${preparedcontent?.id}+@{/update}"
                   class="btn btn-info">Edit</a>
                <a th:if="${preparedcontent?.isFinalized()}"
                   th:href="@{/admin/prepared-contents/}+${preparedcontent?.id}+@{/change-status?status=DRAFT}"
                   class="btn btn-warning">MAKE DRAFT</a>
                <a th:if="${!preparedcontent?.isFinalized()}"
                   th:href="@{/admin/prepared-contents/}+${preparedcontent?.id}+@{/change-status?status=FINALIZED}"
                   class="btn btn-success">FINALIZE CONTENT</a>
                <a th:href="@{/admin/content-templates/}+${preparedcontent?.templateId}" class="btn btn-primary">Template</a>
                <a th:href="@{/admin/prepared-contents}" class="btn btn-primary">All Contents</a>
            </div>
        </div>

        <div class="body">
            <h3>
                <span th:text="${preparedcontent?.title}"></span>
            </h3>
            <hr/>
            <p>
                <span th:utext="${preparedcontent?.resolvedContent}"></span>
            </p>

        </div>

    </div>

    <div class="card">
        <div class="header">
            <b>DOWNLOAD</b>
        </div>
        <div class="body" th:if="${!preparedcontent?.isFinalized()}">
            <span class="text text-warning">Please finalize the content before you can download the report or send email.</span>
        </div>
        <div class="body" th:if="${preparedcontent?.isFinalized()}">
            <a class="btn btn-primary" target="_blank"
               th:href="@{/p/prepared-contents/}+${preparedcontent?.id}+@{/html}">HTML</a>
            <a class="btn btn-primary" target="_blank" th:href="@{/prepared-contents/}+${preparedcontent?.id}+@{/pdf}">PDF</a>
            <a class="btn btn-primary" target="_blank" th:href="@{/prepared-contents/}+${preparedcontent?.id}+@{/img}">IMAGE</a>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sendMailModal">
                Send Email
            </button>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="sendMailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Send Email</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="body">
                            <form class="form" th:action="@{/prepared-contents/}+${preparedcontent?.id}+@{/send-email}"
                                  method="post">
                                <div class="form-group">
                                    <label>Report Type</label>
                                    <select class="form-control" name="reportType" required="required">
                                        <option th:each="type: ${reportTypes}" th:text="${type}"></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Enter Email (Comma Seperated)</label>
                                    <input class="form-control" name="to" type="email" required="required" placeholder="Enter Email">
                                </div>
                                <div class="form-group">
                                    <label>Subject</label>
                                    <input class="form-control" name="subject" required="required" placeholder="Enter Subject">
                                </div>
                                <div class="form-group">
                                    <label>Body</label>
                                    <textarea class="form-control" name="body" required="required" placeholder="Write email body"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-danger">Cancel</button>
                                    <button type="submit" class="btn btn-success">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <!--                <div class="modal-footer">-->
                <!--                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                <!--                    <button type="button" class="btn btn-primary">Save changes</button>-->
                <!--                </div>-->
            </div>
        </div>
    </div>

</div>
</html>
