<html layout:decorate="dashboard" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="main_content">
    <div th:if="${message!=null}" class="alert alert-info" role="alert">
        <span th:text="${message}"></span>
    </div>
    <div class="card">
        <div class="header">
            <h2>
                <span th:text="${sitepage?.title}"></span>
                <small>
                    <span>Last updated at </span> <span th:text="${sitepage?.getUpdatedAtReadable()}"></span>
                </small>
            </h2>
            <div class="pull-right">
                <a th:href="@{/site-pages/create}" class="btn btn-primary">CREATE NEW</a>
                <a th:href="@{/site-pages/}+${sitepage?.id}+@{/update}" class="btn btn-primary">EDIT</a>
                <a th:href="@{/site-pages}" class="btn btn-primary">ALL PAGES</a>
            </div>
        </div>

        <div class="body">
            <h4>ABOUT</h4>
            <p th:text="${sitepage?.description}"></p>
            <hr/>
            <h4>CONTENT</h4>
            <p th:utext="${sitepage?.content}"></p>
        </div>

    </div>

</div>
</html>
