<table class="table table-hover table-condensed table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Title</th>
        <th>Created At</th>
        <th>Updated At</th>
        <th>Details</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contenttemplate: ${contenttemplates}">
        <td><a th:href="@{/admin/content-templates/}+${contenttemplate?.id}" th:text="${contenttemplate?.id}"></a></td>
        <td th:text="${contenttemplate?.type}"></td>
        <td>
            <a th:href="@{/admin/content-templates/}+${contenttemplate?.id}">
                <span th:text="${contenttemplate?.title}"></span>
            </a>
        </td>
        <td th:text="${contenttemplate?.createdAt}"></td>
        <td th:text="${contenttemplate?.updatedAt}"></td>
        <td>
            <a class="btn btn-primary"
               th:href="@{/admin/content-templates/}+${contenttemplate?.id}">Details</a>
        </td>
        <td>
            <a class="btn btn-warning"
               th:href="@{/admin/content-templates/}+${contenttemplate?.id}+@{/update}">Update</a>
        </td>
        <td>
            <form method="post" th:action="@{/admin/content-templates/}+${contenttemplate?.id}+@{/delete}"
                  onclick="return confirm('Are you sure?')">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
