<html layout:decorate="dashboard" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="main_content">
    <div th:if="${message!=null}" class="alert alert-info" role="alert">
        <span th:text="${message}"></span>
    </div>
    <div class="card">
        <div class="header">
            <h2>
                <span th:text="${sitecontent?.title}"></span>
                <div th:if="${!sitecontent?.published}">
                    <small class="text text-primary">In Draft</small>
                </div>
                <div th:if="${sitecontent?.published}">
                    <small>
                        <span  class="text text-primary">Published on:</span><span  class="text text-primary" th:text="${sitecontent?.getPublishedOnReadable()}"></span>
                    </small>
                </div>
            </h2>
            <div class="pull-right">
                <a th:href="@{/site-contents/create}" class="btn btn-primary">CREATE NEW</a>
                <a th:href="@{/site-contents/}+${sitecontent?.id}+@{/update}" class="btn btn-primary">EDIT</a>
                <a th:href="@{/site-contents}" class="btn btn-primary">ALL CONTENTS</a>
            </div>
        </div>

        <div class="body">
            <h4>CONTENT</h4>
            <div class="card body">
                <p th:utext="${sitecontent?.content}"></p>
            </div>
        </div>

    </div>

</div>
</html>
