<form class="form" method="post"
      th:action="@{/admin/content-templates/}+${contenttemplate!=null?contenttemplate?.id:''}">

    <div class="form-group">
        <label for="type">Type</label>
        <select class="form-control form-line" name="type" id="type">
            <option th:each="type: ${types}" th:text="${type}" th:value="${type}" th:selected="${type==contenttemplate?.type}"></option>
        </select>
    </div>
    <div class="form-group">
        <label for="name">Title</label>
        <input class="form-control" type="text" name="title" id="name" placeholder="Title" required="required"
               th:value="${contenttemplate?.title}">
    </div>
    <div class="form-group">
        <label for="name">Template Content</label>
        <textarea class="form-control form-line" name="content" id="name" placeholder="Content" required="required"
               rows="10"   th:text="${contenttemplate?.content}"></textarea>
    </div>

    <div class="form-group">
        <a th:href="@{/admin/content-templates}" class="btn btn-warning">Cancel</a>
        <button type="submit" class="btn btn-success">Submit</button>
    </div>

</form>
