<html layout:decorate="dashboard" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="main_content">

    <div class="card">
        <div class="header">
            <h2>
                Template Details <small>Description text here...</small>
            </h2>
            <div class="pull-right">
                <a th:href="@{/admin/content-templates/create}" class="btn btn-primary">Create New</a>
                <a th:href="@{/admin/content-templates/}+${contenttemplate?.id}+@{/update}"
                   class="btn btn-primary">Edit</a>
                <a th:href="@{/admin/content-templates}" class="btn btn-primary">All Templates</a>
            </div>
        </div>

        <div class="body">
            <h3>
                <span th:text="${contenttemplate?.title}"></span>
            </h3>
            <hr/>
            <p>
                <span th:utext="${contenttemplate?.content}"></span>
            </p>
        </div>

    </div>

    <div class="card">
        <div class="header">
            <a th:href="@{/admin/prepared-contents?template_id=}+${contenttemplate?.id}"
               class="btn btn-primary">View Contents</a>
            <a th:href="@{/admin/prepared-contents/create?template_id=}+${contenttemplate?.id}"
               class="btn btn-success pull-right">Use Template</a>

        </div>
        <div class="body">

        </div>
    </div>

</div>
</html>
